# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Environment variables (DO NOT COMMIT)
.env
.env.*
!.env.example

# Node
node_modules/

# Build output
frontend/dist/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Databricks
.databricks/
